.add-doc{
    color: #3f51b5;
}
mat-card{
    margin-bottom: 10px;
}
mat-card:hover{
    transform: scale(1.03);
}
mat-card-content{
    color: #3f51b5;
}
table {
    width: 100%;
  }
  
mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  



